In [1]:
from skt.ye import get_spark
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import pyspark.sql.functions as F
import sys
from datetime import datetime, timedelta

In [2]:
from skt.gcp import load_bigquery_ipython_magic, \
                    bq_to_pandas, \
                    get_bigquery_client, \
                    bq_to_df

In [36]:
execution_dt_datetime = datetime.strptime(current_dt, '%Y%m%d')
execution_dt = (execution_dt_datetime - timedelta(days=1)).strftime('%Y-%m-%d')
execution_dt_luna = (execution_dt_datetime - timedelta(days=2)).strftime('%Y-%m-%d')
print(f'excution_dt: {execution_dt}')
print(f'excution_dt_luna: {execution_dt_luna}')

excution_dt: 2023-12-09
excution_dt_luna: 2023-12-08

In [9]:
user_id = "x1112436"
delete_table1 = f"adot_musichome_app_log_stg"

In [13]:
query = f"""
SELECT DISTINCT dt
FROM `{user_id}.{delete_table1}`
"""

In [14]:
partition_list_table1 = bq_to_pandas(query)

Warning: exception on print statistics
unsupported operand type(s) for /: 'NoneType' and 'int'
Downloading: 100%|██████████|
query:
SELECT DISTINCT dt
FROM `x1112436.adot_musichome_log_stg`

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anonb6dcc8029485aafcb2ba355cee3b3138d3fdcf9263d8a34ce3121474b731976e
total_rows: 45
slot_secs: 0.823

Downloading: 100%|██████████|

In [37]:
partition_list = list(partition_list_table1.dt.unique())

# JOIN AND REWRITEfrom skt.gcp import pandas_to_bq, get_bigquery_client

In [28]:
from skt.gcp import pandas_to_bq, get_bigquery_client

In [30]:
for dt in partition_list:
    query_after = f"""
        SELECT A.*
            FROM (
            SELECT *
            FROM `{user_id}.{delete_table1}`
            WHERE dt = '{dt}'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id 
            FROM apollo.luna_user 
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID
    """
    query_before = f"""
         SELECT *
         FROM `{user_id}.{delete_table1}`
         WHERE dt = '{dt}'
    """
    
    valid_user_musichome_app_log = bq_to_pandas(query)
    before_user = bq_to_pandas(query2)
    
    diff = len(before_user) - len(valid_user_musichome_app_log)
    if diff > 0:
        print(f'dt: {dt}')
        print(f'before: {len(before_user)}')
        print(f'after: {len(valid_user_musichome_app_log)}')
        print(f'diff log: {diff}')
        
    elif diff < 0:
        raise Exception 
    
    else:
        continue

    pandas_to_bq(
             pd_df = valid_user_musichome_app_log, 
             destination = f"skt-datahub.{user_id}.{delete_table1}", 
             partition = 'dt',
             overwrite=True
    )

query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-10-31'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon842e09e84c27ad27f9d0bafd0de74083c33b1797172bfad8bb7ef0eff9fc6693
total_rows: 26195
slot_secs: 5.22

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-10-31'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon3e4e1b9deb28d92da517637d4b358cdd51c18d3d0345801745f8c4a66ac1561d
total_rows: 26195
slot_secs: 0.412

Downloading: 100%|██████████|
dt: 2023-10-31
before: 26195
after: 26195
diff log: 0
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-11-22'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon3824db58dce903bd763bd3c69355caeab069f4a460aa139cab19763c474ef53f
total_rows: 13187
slot_secs: 5.444

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-11-22'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon5efe1fdca383ba2ffd7a31c936b63558b84f93fb17fdb9d3c6132ad8e446b92a
total_rows: 13264
slot_secs: 0.37

Downloading: 100%|██████████|
dt: 2023-11-22
before: 13264
after: 13187
diff log: 77
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-11-04'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon8d4850a071a08bf0cbf005e2afafa5cc9026a46bd8880adc55a700fc94ff10de
total_rows: 18681
slot_secs: 4.698

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-11-04'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anonabf0aa3987e9791771724e330472d4f1d5d98b2438a05ff3393fd5f1a08eb4a6
total_rows: 18821
slot_secs: 0.332

Downloading: 100%|██████████|
dt: 2023-11-04
before: 18821
after: 18681
diff log: 140
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-11-12'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon56e8a25ff3f44b7e55d3c5ad9308f895ebdf1ad0c72b77bf6aa61aad303a6098
total_rows: 12869
slot_secs: 3.871

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-11-12'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon9d066275b291c6011eafa44a0fe2e1fb80549101994425e215215cd9d42c2c3d
total_rows: 13042
slot_secs: 0.199

Downloading: 100%|██████████|
dt: 2023-11-12
before: 13042
after: 12869
diff log: 173
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-11-14'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anoncb29394d8156ebdf20520f6f9ca5173e0e97467c82ea7205d1e212b0c474d40a
total_rows: 8564
slot_secs: 3.89

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-11-14'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon08552617aa77356e5a0821c775b5cb9259ce9360380b0d40dfad20b8e6a1785f
total_rows: 8615
slot_secs: 0.261

Downloading: 100%|██████████|
dt: 2023-11-14
before: 8615
after: 8564
diff log: 51
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-11-07'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon8ffa60fa1ccf8bf73e0a59faac596e13234180dafe0835e110c788495a8bea83
total_rows: 17667
slot_secs: 4.577

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-11-07'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anonf1eddb0274bec5e3c1dc43e57a26c25c1dadc547914048c399eed4beff10e4a6
total_rows: 17735
slot_secs: 0.296

Downloading: 100%|██████████|
dt: 2023-11-07
before: 17735
after: 17667
diff log: 68
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-12-07'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anond35f0830e703564ab1c92e12d36b67e46b2f19d74c3a1cce86fd0e544d4987f9
total_rows: 19907
slot_secs: 6.32

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-12-07'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon2a692404a0af0002f2dad5b4b58c9589413f424a00abc995e8878c554f98a370
total_rows: 19935
slot_secs: 0.413

Downloading: 100%|██████████|
dt: 2023-12-07
before: 19935
after: 19907
diff log: 28
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-11-13'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anone15f69bd151b89d8f87e0242dca7a4d14b44c0bfc25a24ac5064b00243743947
total_rows: 13417
slot_secs: 5.302

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-11-13'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon166f5eb3f451799b40ec9f0250edc31b505172dc855ebf60ac6c50c9d2bde7df
total_rows: 13631
slot_secs: 0.325

Downloading: 100%|██████████|
dt: 2023-11-13
before: 13631
after: 13417
diff log: 214
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-10-26'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon57767c490fd019e47602a1d871c78a51becc5e35e8f57c7227e9a0f6eeeb089b
total_rows: 10599
slot_secs: 4.713

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-10-26'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anonf6e6e3342e82385442013f3dc353e1a5b481c9ff2db1808bbca9a072a93986d6
total_rows: 11116
slot_secs: 0.211

Downloading: 100%|██████████|
dt: 2023-10-26
before: 11116
after: 10599
diff log: 517
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-11-21'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon67674e803bde88a42733245d56b934ffc8f86e416e285543eba46b6af7a3a83f
total_rows: 9008
slot_secs: 3.764

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-11-21'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon02625c22f60d26d56b4126d41a37f67006a4a8abffb8587d2b35ac376ffb5fc8
total_rows: 9064
slot_secs: 0.175

Downloading: 100%|██████████|
dt: 2023-11-21
before: 9064
after: 9008
diff log: 56
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-12-05'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon6893416a7fe2b918f6288b43f2c2f729236b9165cfb8066d23c2fad20ea4c793
total_rows: 21741
slot_secs: 3.682

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-12-05'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anone9585e0945d5a0f8d7a5293dfdf5d58830f189945851ef3d6ab896cbb6cd4822
total_rows: 21759
slot_secs: 0.265

Downloading: 100%|██████████|
dt: 2023-12-05
before: 21759
after: 21741
diff log: 18
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-11-27'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anond9b39fbbec9001f53d053837aee2428fcd6fd1eedb3a7876c60c3f7837c353b3
total_rows: 13480
slot_secs: 3.193

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-11-27'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon9e33aa5ae0d1307587aaed15e91a9ed050ef28a9302292f24f5e15c73d4543ff
total_rows: 13502
slot_secs: 0.231

Downloading: 100%|██████████|
dt: 2023-11-27
before: 13502
after: 13480
diff log: 22
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-11-28'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon72e4897a56916859a9cc978452a13bd2597676cf2e0e0f5a1e37cf420a42c381
total_rows: 16389
slot_secs: 3.283

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-11-28'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon3fc9e5cde8aea59f38a2d820f62e8abe598a4bfc8dc1892000211500d7c073be
total_rows: 16397
slot_secs: 0.174

Downloading: 100%|██████████|
dt: 2023-11-28
before: 16397
after: 16389
diff log: 8
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-11-30'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon4847108ab6c71b33174cc3d3dcd02590ae5e2556bf4a924bd47efcbe787af79f
total_rows: 12321
slot_secs: 3.301

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-11-30'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon71159e227510fec16caee6509ec65b9ba1883c425163eb31f57ae006adf16fa7
total_rows: 12328
slot_secs: 0.16

Downloading: 100%|██████████|
dt: 2023-11-30
before: 12328
after: 12321
diff log: 7
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-10-30'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon69fc7e05d252f023b7039f491523ae76f8d2efe0aefa2351d81af43a02725175
total_rows: 12866
slot_secs: 3.127

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-10-30'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon6135bf63e74b4b4cef6d56aa345d0df256a43741f0bf75b56c64789bf575e03a
total_rows: 13229
slot_secs: 0.162

Downloading: 100%|██████████|
dt: 2023-10-30
before: 13229
after: 12866
diff log: 363
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-11-20'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon012b1716243ed31c751bc65be638e8222d069c0d5a87207733e3831e89261b3a
total_rows: 12504
slot_secs: 3.272

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-11-20'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anonf238fa0d5eb80957e673d2eeec42bc8f8b4a44041f20d8848ae3d3f207d9402a
total_rows: 12533
slot_secs: 0.164

Downloading: 100%|██████████|
dt: 2023-11-20
before: 12533
after: 12504
diff log: 29
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-11-26'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anond98af2bedf5a928fd2aae0db12c7824a5f4ebbd5edf3c60ccbb2df6103915017
total_rows: 11091
slot_secs: 3.222

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-11-26'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anonf1e7788c82ff49176b7f3ac6d5d5d01b9df91286576369218bf074e1068d604d
total_rows: 11098
slot_secs: 0.146

Downloading: 100%|██████████|
dt: 2023-11-26
before: 11098
after: 11091
diff log: 7
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-11-09'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon156bc9dcb0e3815bb971d27ce22db188c04471316b0f14affe4a3d37beb56eee
total_rows: 13829
slot_secs: 3.208

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-11-09'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon1df4b78cec23c542315d16f30090e6fd97e4e9008add242ce4554399b2625dd5
total_rows: 14035
slot_secs: 0.167

Downloading: 100%|██████████|
dt: 2023-11-09
before: 14035
after: 13829
diff log: 206
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-12-04'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anonb0c9508fea22c23501651e4fcb9b3c92d9a4364b7c0b463fc6a167385eb0d712
total_rows: 21032
slot_secs: 3.332

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-12-04'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anona80a95f26a4f09bbec491ed34eb5fa93cf54a31ba854055b174c764d6281434d
total_rows: 21059
slot_secs: 0.35

Downloading: 100%|██████████|
dt: 2023-12-04
before: 21059
after: 21032
diff log: 27
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-11-03'
        ) A
        INNER JOIN
        (
            SELECT DISTINCT luna_id as user_id
            FROM apollo.luna_user
            WHERE coalesce(status,'')!='CLOSED' and dt=(select max(dt) from apollo.luna_user)
        ) B
        ON A.USER_ID = B.USER_ID

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon4fb3f13cff1724814d65c61bc519efd4575bf3e8f3cb8fcc5114b15cb081bdbe
total_rows: 16174
slot_secs: 3.322

Downloading: 100%|██████████|
query:
         SELECT *
         FROM `x1112436.adot_musichome_app_log_stg`
         WHERE dt = '2023-11-03'

destination: skt-datahub._775c5ccab1096b3cccd7ac34a5db11c0a354fb07.anon5790b0aebfc26f325e413eeed84ed00da75c8b13e63cbf3cecc9d63174426e3c
total_rows: 16366
slot_secs: 0.195

Downloading: 100%|██████████|
dt: 2023-11-03
before: 16366
after: 16174
diff log: 192
query:
        SELECT A.*
            FROM (
            SELECT *
            FROM `x1112436.adot_musichome_app_log_stg`
            WHERE dt = '2023-11-08'
        ) A
        INNER JOIN
        (